fastapi
uvicorn
gunicorn
python-dotenv
alembic
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic-settings
email-validator
python-multipart
icalendar
requestsslowapi==0.1.9

slowapi==0.1.9
